{% extends "master.html" %}

{% block title %} API documentation {% endblock %}


{% block content %}

  <h1 class="entry-title">Tagger API</h1>
  <div class="entry-content">
    <p>The API can be used to add a tag, a rating or retrieve the tags,
    rating associated with a package.</p>

    <h2>Get package information</h2>
    <p>
      This happens at the url <code>{{ url_for('pkg', pkgname='pkgname') }}</code>
      It needs one argument and will just return a json containing
      the information about this package.
    </p>
    <ul>
      <li>Package name</li>
    </ul>
    <p>Example output:</p>
    <code>
    curl http://.../guake/

    {
      "rating": 83.333333333333329, 
      "icon": "/packages/images/icons/__no_xapian_available__.png", 
      "summary": "", 
      "name": "guake", 
      "tags": [
        {
          "total": 1, 
          "dislike": 0, 
          "tag": "terminal", 
          "votes": 1, 
          "like": 1
        }, 
        {
          "total": 0, 
          "dislike": 1, 
          "tag": "gnome", 
          "votes": 2, 
          "like": 1
        }
      ]
    }
    </code>


    <h2>Retriete tags of a package</h2>
    <p>
      This happens at the url <code>{{ url_for('pkg_tag', pkgname='pkgname') }}</code>
      It needs one argument relies on GET requests and will just return
      a json containing the tags associated to this package.
    </p>
    <ul>
      <li>Package name</li>
    </ul>
    <p>Example output:</p>
    <code>
    curl http://.../guake/tag/

    {
      "name": "guake",
      "tags": [
        {
          "total": 1,
          "dislike": 0,
          "tag": "terminal",
          "votes": 1,
          "like": 1
        },
        {
          "total": 1,
          "dislike": 0,
          "tag": "gnome",
          "votes": 1,
          "like": 1
        }
      ]
    }
    </code>

    <h2>Retriete rating of a package</h2>
    <p>
      This happens at the url <code>{{ url_for('pkg_rating', pkgname='pkgname') }}</code>
      It needs one argument, relies on GET requests and will just return
      a json containing the rating associated to this package.
    </p>
    <ul>
      <li>Package name</li>
    </ul>
    <p>Example output:</p>
    <code>
    curl http://.../guake/rating/

    {
      "rating": 75.0,
      "name": "guake"
    }
    </code>

    <h2>Set tags</h2>
    <p>
      This happens at the url <code>{{ url_for('tag_pkg', pkgname='pkgname') }}</code>
      It needs two arguments, relies on PUT requests and will just
      return a json with information on how the request performed.
    </p>
    <ul>
      <li>Package name</li>
      <li>Tag</li>
    </ul>
    <p>Example output:</p>
    <code>
    curl -X PUT --data "tag=terminal&pkgnme=guake" http://.../tag/guake/

    {
      "output": "notok",
      "error_detail": [
        "Pkgname: This field is required."
      ],
      "error": "Invalid input submitted"
    }

    curl -X PUT --data "tag=terminal&pkgname=guake" http://.../tag/guake/

    {
      "output": "ok",
      "messages": [
        "Tag \"terminal\" added to the package \"guake\""
      ]
    }
    </code>

    <h2>Retrieve packages with tag</h2>
    <p>
      This happens at the url <code>{{ url_for('tag_pkg', pkgname='pkgname') }}</code>
      It needs one arguments, relies on GET requests and will just
      return a json with information on how the request performed.
    </p>
    <ul>
      <li>Tag</li>
    </ul>
    <p>Example output:</p>
    <code>

    curl http://.../tag/terminal/

    {
      "tag": "terminal",
      "packages": [
        {
          "votes": 2,
          "like": 2,
          "package": "guake",
          "tag": "terminal",
          "dislike": 0,
          "total": 2
        }
      ]
    }
    </code>

    <h2>Set rating</h2>
    <p>
      This happens at the url <code>{{ url_for('rating_pkg', pkgname='pkgname') }}</code>
      It needs two arguments, relies on PUT requests and will just return a json containing
      the rating associated to this package.
    </p>
    <ul>
      <li>Package name</li>
      <li>Rating (percentage)</li>
    </ul>
    <p>Example output:</p>
    <code>
    curl -X PUT --data "pkgname=guake&ratin=100" http://.../rating/guake/

    {
      "output": "notok", 
      "error_detail": [
        "rating: This field is required."
      ], 
      "error": "Invalid input submitted"
    }

    curl -X PUT --data "pkgname=guake&rating=100" http://.../rating/guake/

    {
      "output": "ok", 
      "messages": [
        "Rating \"100\" added to the package \"guake\""
      ]
    }

    </code>

    <h2>Retrieve packages with a specific rating</h2>
    <p>
      This happens at the url <code>{{ url_for('tag_pkg', pkgname='pkgname') }}</code>
      It needs one arguments, relies on GET requests and will just
      return a json with information on how the request performed.
    </p>
    <ul>
      <li>Rating (valid float)</li>
    </ul>
    <p>Example output:</p>
    <code>

    curl http://.../rating/75/

    {
      "rating": 75.0,
      "packages": [
        "guake"
      ]
    }

    curl http://.../rating/76/

    {
      "output": "notok",
      "error": "No packages found with rating \"76.0\""
    }
    </code>

    <h2>Vote on the tag of a package</h2>
    <p>
      This happens at the url <code>{{ url_for('vote_tag_pkg', pkgname='pkgname') }}</code>
      It needs three arguments, relies on PUT requests and will just return a json containing
      the rating associated to this package.
    </p>
    <ul>
      <li>Package name</li>
      <li>Tag</li>
      <li>Vote (either -1 or 1)</li>
    </ul>
    <p>Example output:</p>
    <code>
    curl -X PUT --data "pkgname=guake&tag=terminal&vote=1" http://.../vote/guake/

    {
      "output": "ok", 
      "messages": [
        "Vote added to the tag \"terminal\" of the package \"guake\""
      ]
    }

    curl http://.../tag/guake/
    {
      "name": "guake", 
      "tags": [
        {
          "total": 2, 
          "dislike": 0, 
          "tag": "terminal", 
          "votes": 2, 
          "like": 2
        }, 
      ]
    }

    curl -X PUT --data "pkgname=guake&tag=terminal&vote=-1" http://.../vote/guake/

    {
      "output": "ok", 
      "messages": [
        "Vote changed to the tag \"terminal\" of the package \"guake\""
      ]
    }

    curl http://.../tag/guake/
    {
      "name": "guake", 
      "tags": [
        {
          "total": 0, 
          "dislike": 1, 
          "tag": "terminal", 
          "votes": 2, 
          "like": 1
        }
      ]
    }

    </code>

  </div>
{% endblock %}
